@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400');

body {
  background-color: $black;
  font-family: 'Nunito Sans', sans-serif;
  color: $grey;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 480px) {
    justify-content: start;
  }
  height: 100vh;

  &__header {
    color: $white;
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
    line-height: 4rem;
  }

  &__subheader {
    color: darken($white, 40);
    margin: 0;
    font-weight: 200;
  }

  &__skills,
  &__social {

    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
      // float: left;
      list-style: none;
      padding: .1rem 2rem;
    }
  }

  &__skills {
    justify-content: space-evenly;
    align-self: center;
    position: absolute;
    bottom: 0;
  }

  &__social {
    justify-content: center;

    a {
      padding: 0 1rem .5rem;
      text-decoration: none;
    }
  }
}

[class^="social"] {

  &:hover {
    &:before {
      color: $blue--dark;
    }
  }
}

[class^="social"]:before {
  font-family: "FontAwesome";
  color: $blue--light;
  font-size: 3.5rem;
  transition: .5s;
}

[class^="icon"]:before {
  font-family: "devicons";
  color: $blue--dark;
  font-size: 2.5rem;
}

[class*="php"]:before {
  content: "\e63d";
}

[class*="js"]:before {
  content: "\e64e";
}

[class*="sass"]:before {
  content: "\e64b";
}

[class*="css3"]:before {
  content: "\e649";
}

[class*="html5"]:before {
  content: "\e636";
}

[class*="wordpress"]:before {
  content: "\e60b";
}

[class*="grunt"]:before {
  content: "\e64c";
}

[class*="gulp"]:before {
  content: "\e663";
}

[class*="npm"]:before {
  content: "\e61e";
}

[class*="photoshop"]:before {
  content: "\e6b8";
}

[class*="facebook"]:before {
  content: "\f082";
}

[class*="twitter"]:before {
  content: "\f081";
}

[class*="github"]:before {
  content: "\f092";
}

[class*="instagram"]:before {
  content: "\f16d";
}

[class*="linkedin"]:before {
  content: "\f08c";
}

[class*="codepen"]:before {
  content: "\f1cb";
}
